*{box-sizing: border-box;}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
address {
  font-style: normal;
}

img{display:block;}

p,h1,h2,h3,h4,h5,h6{margin-top:0;
  margin-bottom: 0;}

  ul,ol{padding-left: 0;
  margin-top: 0;
margin-bottom: 0;}

.container { 
  max-width: 1128px;
  padding-left:  15px;
  padding-right:  15px;
  margin-left: 156px; 
  margin-right:  156px;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

:root {
  --font-family: "Roboto", sans-serif;
  --font-family: "Raleway", sans-serif;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --corn-flower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}
/*----------------HEADER-------------*/



.header {
}
.header-navigation {
}

.header-logo {
  color: var(--iris, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-logo-color {
  color: var(--navyblue, #2e2f42);
}

.header-menu-list {margin:0;padding-left: 0;
}
.header-address-menu {
}

.header-menu-link {
  color: var(--grey);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--ocean, #404bbf);
  text-decoration: underline;
  text-decoration: none;
}
.header-address {
  font-style: normal;
}

.header-address-link {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  margin:0;padding-left: 0;
  }
.header-address-link:hover,
.header-address-link:focus {
  color: var(--ocean, #404bbf);
  text-decoration: none;
}
/*----------------BUSINESS-------------*/

.business {
  background-color: #2e2f42;
}

.business-title {
  color: var(--white, #ffffff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.business-btn {
  color: var(--white, #ffffff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background: var(--iris, #4d5ae5);
  font-family: inherit;
}

.business-btn:hover,
.business-btn:focus {
  background: var(--ocean, #404bbf);
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
/*----------------SKILLS--------------*/

.skills {
}

.skills-menu-list {margin:0;padding-left: 0;
}

.skills-menu-item {
}

.skills-subtitle {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.skills-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin:0;
}

/*----------------DEVELOPMENT-------------*/

.development {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.development-menu-list {
}
.development-menu-item {
}
.team 
{ background-color:#F4F4FD ;}

.team-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-list {
}
.team-list-menu {
  background-color: #ffffff;
}
.team-img {
}

.team-name {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-profession {
  color: var(--slate, #434455);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin:0;
}

/*------------------PORTFOLIO-----------------*/

.porfolio-filtr-list {
}

.portfolio-btn {
  font-family: inherit;
  color: #4d5ae5;
  background: var(--cloud, #f4f4fd);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--ocean, #404bbf);
  color: var(--white, #ffffff);
  text-decoration: none;
}

.portfolio-projects-list {margin:0;padding-left: 0;
}
.portfolio-img {
}
.portfolio-subtitle {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-text {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
}

/*-----------FOOTER------------*/

.footer {
  background-color: #2e2f42;
}

.footer-logo {
  color: var(--iris, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo-color {
  color: var(--cloud, #f4f4fd);
}

.footer-text {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin:0;
}
